body{
    font-family: 'Poppins', sans-serif;
    line-height: 160%;
    margin: 0%;

}
.orange-color{
     color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    padding-top: 1%;
    padding-left: 5%;
    width: 50%;
}
.half-width img{
    width: 90%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 167, 5),rgb(247, 76, 9) );
    padding: 17px 50px;

}
.second-section{
    background-image: url(images/Frame\ 58.jpg);

}
.center{
    text-align: center;
}
.column{
    padding-left: 5%;
}
.column img{
    width: 33.33%;
}