body{
    font-family: 'Poppins', sans-serif;
    line-height: 160%;
    margin: 0%;

}
.orange-color{
     color: orange;
}
p{
    padding-right: 25%;
    padding-bottom: 6%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
section{
    display: flex;
}
.width{
    padding-top: 10%;
    padding-left: 6%;
}
.half-width{
    padding-top: 1%;
    padding-left: 5%;
    width: 50%;
}
.half-width img{
    width: 90%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 167, 5),rgb(247, 76, 9) );
    padding: 17px 50px;

}
.top-section{

}

.second-section{
    background-image: url(images/7.png);

}
.center{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
}
.column{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    width: 33.33%;
    box-shadow: 10px 10px 30px rgb(197, 195, 195);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
}
.column img{
    padding: 3%;
    width: 95%;
}
.second-column{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 33.33%;
    margin-left: 3%;
    margin-right: 3%;
}
.second-column img{
    padding-left: 25%;
    width:50%;
}
.recipie{
    padding-bottom: 3%;
}
.heading-width{
    padding-top: 12%;
}
.our-team{
    padding-top: 4%;
    padding-bottom: 1%;
}
footer{
    padding-top: 3%;
    text-align: center;
    height: 180px;
    background-color: black;
}
footer p{
    padding-left: 25%;
    color:blanchedalmond;
}
